body{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-style: normal;
    background-color: antiquewhite;
    letter-spacing: 2px;
    margin: 10px;
    border: 10px;
    padding-top: 25px;
}
header{
    display: flex;
    background-image: url(fioritura-ciliegi-in-giappone-517968898.jpg);
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    height: 600px;
    max-width: 100%;
}
#menu{
    display: flex;
    width: auto;
    height: 20%;
}
.BarraNavigazione{
    color: white;
    font-style: oblique;
    font-size: calc(1.5vw + 1.5vh);
    padding: 2vw;
    text-decoration: none;
    cursor: pointer; 
    height: fit-content;
}
.BarraNavigazione:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 100px;
    border: solid steelblue 2px;
    transition-duration: 1000ms;
}
.BarraNavigazione:not(:hover){
    transition-duration: 500ms;
}
#intestazione{
    font-family: 'Great Vibes';
    font-style: italic;
    font-size: calc(1.1vw + 1.1vh);
    text-align: center;
    width: 100%;
    height: 80%;
}
#introduzione{
    font-size: calc(1.0vw + 0.6vh);
    color:black;
    font-style:oblique;
}
#scorciatoie a:hover{
    font-size: calc(1.2vw + 1.0vh);
    color: hsla(281, 100%, 69%, 0.5);
    border-radius: 100px;
    border:inset steelblue 2px;
    transition-duration: 2000ms;
    margin: 2px;
    
}
#scorciatoie a:not(:hover){
transition-duration: 800ms;
}
#time-zone{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8px;
    justify-content: flex-start;
    align-items: center;
    background-color: blanchedalmond;
    background-size: cover;
    color:darkmagenta;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}
#time-zone div{
    flex-direction: row;
    width: 80%;
    height: fit-content;
    justify-content: space-between;
    display: flex;
}
#time-zone div div{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    width: 35%;
    align-items: center;
}
#Alba img, #Tramonto img{
    width:100%;
}
#Contenuto {
    font-family: Garamond;
    font-style: normal;
    color: black;
}
#Contenuto img{
    height: auto;
    width: 50%;
}
.Articolo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Articolo h3{
    font-size: calc(3.2vw + 3vh);
    font-style: italic;
}
.Articolo div{
    display: flex;
    flex-direction: row;
    font-size: calc(1.2vw + 1vh);
}

.Articolo p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(1.2vw + 0.5vh);
    margin: 10px;
    float: right;
}
footer{
    display: flex;
    background-color: bisque;
    background-size: cover;
    position: absolute;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px;
}
.nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(1.5vw + 0.5vh);
    font-style: italic;
    text-decoration: none;
    color:firebrick;
    top: 50%;
    left: 0;
    padding-top: 10%;
}
.nav a{
    color:firebrick;
}
.nav:hover{
    border: solid 5px rgb(168, 58, 168);
    transition-duration: 1000ms;
    border-radius: 50px;
    padding: 5px;
    margin: 3px;
}
.nav:not(:hover){
transition-duration: 500ms;
}
#Musica{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: calc(0.9vw + 1.2vh);
    width: 50%;
    height: 80%;
    position: relative;
    left: 10%;
    padding-bottom: 28%;
    bottom: 0;
    
    
}
#date{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: calc(0.8vw + 1vh);
    color: black;
    bottom: 0;
    width: 50%;
    height: 20%;
    padding-top: 30%;
    padding-right: 2%;
}
#Creator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: Garamond;
    font-size: calc(1.2vw + 0.5vh);
    font-style: italic;
    color: black;
    padding-top: 5%;
    padding-left: 10%;
}
footer img{
    width: 50%;
    height: auto;
    padding-bottom: -10%;
    padding-left: 15%;
    margin-left: -10%;
}
.hidden{
    display: none;
}